.idea
.vscode
.cursor
.DS_Store
node_modules
dist
vendor
composer.lock
package-lock.json

.env
.env.local
.env.development
.env.production
.env.test

storage/cache/*
storage/logs/*
storage/uploads/*
public/assets/*
public/storage/*

.php-cs-fixer.cache
